apiVersion: v1
kind: Service
metadata:
  name: postgresql
spec:
  type: ClusterIP 
  ports:
    - protocol: TCP
      port: 5432        
      targetPort: 5432

---

apiVersion: v1
kind: Endpoints
metadata:
  name: postgresql
subsets:
  - addresses:
      - ip: ${LOCAL_IP}
    ports:
      - port: 5432
